@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Reset margins and padding for body and html */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a default font and background */
body {
  font-family: 'Inter', sans-serif; /* or your preferred font */
  background-color: white;
}

/* Remove default margin from images */
img {
  margin: 0;
}
